.footer {
  width: 100%;
  z-index: 999;
  border-top: 2px solid #f8f8f8;
  text-align: center;
  padding-bottom: 64px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0 24px 0;
}

.footer__icon:last-child {
  margin-left: 4px;
}

.footer__index{
  display: flex;
  padding-bottom: 12px;
  flex-direction: column;
}

.footer__sns{
  display: flex;
  padding-bottom: 24px;
  flex-direction: row;
}

.footer__sns .footer__item{
  margin: 0 4px;
}

.footer__link {
  display: inline-block;
  padding: 0 0 12px 0;
  font-weight: bold;
  color: #006076;
}

.footer__link--button {
  border: 1px solid;
  border-radius: 2px;
  padding: 4px 8px;
}

.footer__copylight {
  width: 100%;
  font-size: 1.2rem;
  color: #cccccc;
}

.footer__icon {
  margin-top: 10px;
  width: 24px;
  height: 24px;
}

.icon__image{
  width: 24px;
  height: 24px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .footer__content {
    max-width: 1108px;
    flex-direction: row;
  }
  .footer__index{
    flex-direction: row;
    padding-bottom: 0;
  }
  .footer__sns{
    flex-direction: row;
    padding-bottom: 0;
  }
  .footer__item {
    margin-right: 24px;
  }
  .footer__icon {
    margin-right: 12px;
  }
  .icon__image{
    width: 24px;
    height: 24px;
    margin-top: 0;
  }
  .footer__link {
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .footer{
    background-color: #333333;
    color: #00BAB1;
    border-top: 2px solid #393939;
  }
  .footer__link{
    color: #00BAB1;
  }
}
