.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  color: #006076;
  border-bottom: 2px solid #f8f8f8;
}

.header__content {
  background-color: rgba(255, 255, 255, 0.9);
}

.header__nav {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header__nav {
    max-width: 1108px;
  }
}

.header .header-nav__icon {
  display: inline-block;
  float: right;
  width: 30px;
  height: 23px;
  margin: 21px 24px 21px 0;
}

@media screen and (min-width: 768px) {
  .header .header-nav__icon {
    display: none;
  }
}

.header .header-nav__link {
  display: block;
  position: relative;
  z-index: 9;
  float: left;
  padding: 0 0 0 24px;
}

.header__list {
  position: absolute;
  top: 64px;
  width: 100%;
  left: 100%;
  height: 100vh;
  padding: 0 36px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.6, 0.1, 0.9);
  transition-timing-function: cubic-bezier(0.1, 0.6, 0.1, 0.9);
}

@media screen and (min-width: 768px) {
  .header__list {
    height: 64px ;
    position: relative;
    text-align: right;
    left: 0;
    -webkit-transition: none;
    transition: none;
    top: 0;
  }
}

.header__list--open {
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-transition: 0;
  transition: 0;
}

.header__item {
  position: relative;
  display: block;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .header__item {
    display: inline-block;
  }
}


.header__icon {
  margin-top: 15px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .header__icon {
    position: absolute;
    margin-left: 12px;
    margin-top: -18px;
  }
}


.header__link {
  position: relative;
  display: inline-block;
  padding: 16px 0 4px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #006076;
}

.header__link::after {
  background-color: #006076;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 0;
}

.header__link:hover::after {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__link {
    font-size: 1.4rem;
    margin-right: 16px;
  }
}

.header__link--button {
  border: 1px solid;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .header__link--button {
    width: inherit;
  }
}

.header__caption {
  font-size: 1rem;
  font-weight: normal;
}

.header__button {
  background: #3d3d3d;
  text-align: left;
}

.header .header-button__link {
  display: inline-block;
  padding: 12px 22px;
  float: left;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  color: #006076;
  font-weight: bold;
}

.header__inner {
  max-width: 960px;
  margin: 0 auto;
}

.header__logo {
  display: inline-block;
}

.header .header-nav__button {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #006076;
}

.header .header-nav__button::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #006076;
}

.header .header-nav__button::after {
  content: "";
  display: block;
  position: absolute;
  top: 19px;
  right: 0;
  width: 30px;
  height: 3px;
  background-color: #006076;
}

.header .header-nav__image {
  width: 80px;
}



/*versionUI*/

.version__current::selection{
  background: rgba(0,0,0,0);
}
.version__link::selection{
  background: rgba(0,0,0,0);
}

.header__version{
  position: relative;
  margin-top: 16px;
  margin-bottom: 0;
  display: inline-block;
}

details > summary.version__current {
  position: relative;
  color: #006076;
  padding: 6px 12px;
  background-color: rgba(0,0,0,0);
  border:1px solid;
  border-radius: 2px;
  font-weight: bold;
  list-style: none;
}

details > summary.version__current::after {
  content: '';
  width: 1px;
  display: inline-block;
  padding-top: 2px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #006076;
  margin-left:5px;
}

summary.version__current::-webkit-details-marker {
  display: none;
}

.version__list{
  position: relative;
  font-weight: bold;
  margin-top: 8px;
  z-index: 9999;
}

.version__item{
  display: block;
  padding: 12px 0 8px 0;
}

@media screen and (min-width: 768px) {
  .version__list{
    position: absolute;
    right: 0;
    margin-top: 17px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .version__item{
    display: block;
    padding: 12px 12px 8px 12px;
    border-bottom: 1px solid #f8f8f8;
  }
}



.version__link--latest::after{
  content: 'latest';
  display: inline-inline-block;
  margin-left:8px;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #006076;
  color: #ffffff;
  font-size: 1.2rem;
}

a.version__link{
  display: inline-block;
  width: 100%;
  color: #006076;
}




@media (prefers-color-scheme: dark) {

  .header {
    color: #00BAB1;
    border-bottom: 2px solid #393939;
  }

  .header__content {
    background-color: rgba(51, 51, 51, 0.9);
  }

  .header__link {
    color: #00BAB1;
  }
  .header__list--open {
    background-color: rgba(51, 51, 51, 0.95);
  }
  .header__link::after {
    background-color: #00BAB1;
  }
  .header .header-nav__button {
    background-color: #00BAB1;
  }
  .header .header-nav__button::before {
    background-color: #00BAB1;
  }
  .header .header-nav__button::after {
    background-color: #00BAB1;
  }

  details > summary.version__current {
    color: #00BAB1;

  }

  details > summary.version__current::after {
    border-top: 5px solid #00BAB1;
  }

  a.version__link {
      color: #00BAB1;
  }

  @media screen and (min-width: 768px){
  .version__item {
    background-color: rgba(51, 51, 51, 1);
    border-bottom: 1px solid #393939;
  }
}

  .version__link--latest::after {
    background-color: #00BAB1;
}

}
