{{define "function"}}
{{- $f := . }}

func {{ .TestName }}(t *testing.T) {
    // Change interface type to the type of object you are testing
    type T = interface{}
    {{- if .TestParameters }}
    type args struct {
        {{- range .TestParameters }}
            {{ Param . }} {{ .Type }}
        {{- end}}
    }
    {{- end }}
    {{- $hasFields := false -}}
    {{- with .Receiver }}
        {{- if .IsStruct }}
            {{- if .Fields}}
                type fields struct { {{ $hasFields = true }}
                    {{- range .Fields }}
                        {{ Field . }} {{ .Type }}
                    {{- end }}
                }
            {{- end }}
        {{- end }}
    {{- end }}
    type want struct {
        obj *T
        // Uncomment this line if the option returns an error, otherwise delete it
        // err error
    }
    type test struct {
        name string
        {{- if .TestParameters }}
            args args
        {{- end }}
        {{- with .Receiver}}
            {{- if and .IsStruct .Fields}}
                fields fields
            {{- else}}
                {{Receiver .}} {{.Type}}
            {{- end}}
        {{- end}}
        want want
        // Use the first line if the option returns an error. otherwise use the second line
        // checkFunc  func(want, *T, error) error
        // checkFunc  func(want, *T) error
        beforeFunc func(*testing.T, {{- if .TestParameters }} args {{- end}})
        afterFunc func(*testing.T, {{- if .TestParameters }} args {{- end}})
    }

    // Uncomment this block if the option returns an error, otherwise delete it
    /*
    defaultCheckFunc := func(w want, obj *T, err error) error {
        if !errors.Is(err, w.err) {
            return errors.Errorf("got_error: \"%#v\",\n\t\t\t\twant: \"%#v\"", err, w.err)
        }
        if !reflect.DeepEqual(obj, w.obj) {
            return errors.Errorf("got: \"%#v\",\n\t\t\t\twant: \"%#v\"", obj, w.obj)
        }
        return nil
    }
    */

    // Uncomment this block if the option do not returns an error, otherwise delete it
    /*
    defaultCheckFunc := func(w want, obj *T) error {
        if !reflect.DeepEqual(obj, w.obj) {
            return errors.Errorf("got: \"%#v\",\n\t\t\t\twant: \"%#v\"", obj, w.obj)
        }
        return nil
    }
    */

    tests := []test{
        // TODO test cases
        /*
        {
            name: "test_case_1",
            {{- if .TestParameters }}
            args: args {
                {{- template "fill" .TestParameters }}
            },
            {{- end }}
            {{- if $hasFields }}
            fields: fields {
                {{- template "fill" .Receiver.Fields }}
            },
            {{- end }}
            want: want {
                obj: new(T),
            },
            beforeFunc: func(t *testing.T, {{- if .TestParameters }} args args {{- end }}) {
                t.Helper()
            },
            afterFunc: func(t *testing.T, {{- if .TestParameters }} args args {{- end }}) {
                t.Helper()
            },
        },
        */

        // TODO test cases
        /*
        func() test {
            return test {
                name: "test_case_2",
                {{- if .TestParameters }}
                args: args {
                    {{- template "fill" .TestParameters }}
                },
                {{- end }}
                {{- if $hasFields }}
                fields: fields {
                    {{- template "fill" .Receiver.Fields }}
                },
                {{- end }}
                want: want {
                    obj: new(T),
                },
                beforeFunc: func(t *testing.T, {{- if .TestParameters }} args args {{- end }}) {
                    t.Helper()
                },
                afterFunc: func(t *testing.T, {{- if .TestParameters }} args args {{- end }}) {
                    t.Helper()
                },
            }
        }(),
        */
    }

    for {{- if (or .Subtests (not .IsNaked)) }} _, tc := {{- end }} range tests {
        {{- if .Subtests }}
            test := tc
            t.Run(test.name, func(tt *testing.T) {
                tt.Parallel()
                defer goleak.VerifyNone(tt, goleak.IgnoreCurrent())
                if test.beforeFunc != nil {
                    test.beforeFunc(tt, {{- if .TestParameters }} test.args {{- end }})
                }
                if test.afterFunc != nil {
                    defer test.afterFunc(tt, {{- if .TestParameters }} test.args {{- end }})
                }

                // Uncomment this block if the option returns an error, otherwise delete it
                /*
                checkFunc := test.checkFunc
                if test.checkFunc == nil {
                    checkFunc = defaultCheckFunc
                }

                got := {{ template "call" $f }}
                obj := new(T)
                if err := checkFunc(test.want, obj, got(obj)); err != nil {
                    tt.Errorf("error = %v", err)
                }
                */

                // Uncomment this block if the option do not return an error, otherwise delete it
                /*
                checkFunc := test.checkFunc
                if test.checkFunc == nil {
                    checkFunc = defaultCheckFunc
                }
                got := {{ template "call" $f }}
                obj := new(T)
                got(obj)
                if err := checkFunc(test.want, obj); err != nil {
                    tt.Errorf("error = %v", err)
                }
                */
            })
        {{- end }}
    }
}
{{- end }}
