#
# Copyright (C) 2019 Vdaas.org Vald team ( kpango, kou-m, rinx )
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.agent.name }}
  labels:
    app: {{ .Values.agent.name }}
spec:
  progressDeadlineSeconds: 600
  replicas: {{ .Values.agent.minReplicas }}
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: {{ .Values.agent.name }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ .Values.agent.name }}
    spec:
      containers:
        - name: {{ .Values.agent.name }}
          image: "{{ .Values.agent.image.repository }}:{{ .Values.agent.image.tag }}"
          imagePullPolicy: {{ .Values.agent.image.pullPolicy }}
          {{- $servers := dict "Values" .Values.agent.server_config "default" .Values.defaults.server_config }}
          {{- include "vald.containerPorts" $servers | nindent 10 }}
          resources:
            {{- toYaml .Values.agent.resources | nindent 12 }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - name: {{ .Values.agent.name }}-config
              mountPath: /etc/server/
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - name: {{ .Values.agent.name }}-config
          configMap:
            defaultMode: 420
            name: {{ .Values.agent.name }}-config
status:
