#
# Copyright (C) 2019-2020 Vdaas.org Vald team ( kpango, rinx, kmrmt )
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
{{- if eq .Values.indexManager.kind "Deployment" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.indexManager.name }}
  labels:
    app: {{ .Values.indexManager.name }}
  {{- if .Values.indexManager.annotations }}
  annotations:
    {{- toYaml .Values.indexManager.annotations | nindent 4 }}
  {{- end }}
spec:
  progressDeadlineSeconds: {{ .Values.indexManager.progressDeadlineSeconds }}
  replicas: {{ .Values.indexManager.replicas }}
  revisionHistoryLimit: {{ .Values.indexManager.revisionHistoryLimit }}
  selector:
    matchLabels:
      app: {{ .Values.indexManager.name }}
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.indexManager.rollingUpdate.maxSurge }}
      maxUnavailable: {{ .Values.indexManager.rollingUpdate.maxUnavailable }}
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ .Values.indexManager.name }}
      annotations:
        checksum/configmap: {{ include (print $.Template.BasePath "/manager/index/configmap.yaml") . | sha256sum }}
        {{- if .Values.indexManager.podAnnotations }}
        {{- toYaml .Values.indexManager.podAnnotations | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.indexManager.initContainers }}
      initContainers:
        {{- $initContainers := dict "initContainers" .Values.indexManager.initContainers "Values" .Values "namespace" .Release.Namespace -}}
        {{- include "vald.initContainers" $initContainers | trim | nindent 8 }}
      {{- end }}
      affinity:
        {{- include "vald.affinity" .Values.indexManager.affinity | nindent 8 }}
      containers:
        - name: {{ .Values.indexManager.name }}
          image: "{{ .Values.indexManager.image.repository }}:{{ default .Values.defaults.image.tag .Values.indexManager.image.tag }}"
          imagePullPolicy: {{ .Values.indexManager.image.pullPolicy }}
          {{- $servers := dict "Values" .Values.indexManager.server_config "default" .Values.defaults.server_config -}}
          {{- include "vald.containerPorts" $servers | trim | nindent 10 }}
          resources:
            {{- toYaml .Values.indexManager.resources | nindent 12 }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          {{- if .Values.indexManager.env }}
          env:
            {{- toYaml .Values.indexManager.env | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: {{ .Values.indexManager.name }}-config
              mountPath: /etc/server/
            {{- if .Values.indexManager.volumeMounts }}
            {{- toYaml .Values.indexManager.volumeMounts | nindent 12 }}
            {{- end }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: {{ .Values.indexManager.terminationGracePeriodSeconds }}
      volumes:
        - configMap:
            defaultMode: 420
            name: {{ .Values.indexManager.name }}-config
          name: {{ .Values.indexManager.name }}-config
        {{- if .Values.indexManager.volumes }}
        {{- toYaml .Values.indexManager.volumes | nindent 8 }}
        {{- end }}
      {{- if .Values.indexManager.nodeName }}
      nodeName: {{ .Values.indexManager.nodeName }}
      {{- end }}
      {{- if .Values.indexManager.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.indexManager.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.indexManager.tolerations }}
      tolerations:
        {{- toYaml .Values.indexManager.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.indexManager.podPriority }}
      {{- if .Values.indexManager.podPriority.enabled }}
      priorityClassName: {{ .Values.indexManager.name }}-priority
      {{- end }}
      {{- end }}
status:
{{- end }}
