#
# Copyright (C) 2019 Vdaas.org Vald team ( kpango, kou-m, rinx )
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.meta.name }}-config
data:
  config.yaml: |
    ---
    version: v0.0.0
    server_config:
      {{- $servers := dict "Values" .Values.meta.server_config "default" .Values.defaults.server_config }}
      {{- include "vald.servers" $servers | nindent 6 }}
    redis_config:
      addrs:
        {{- toYaml .Values.redis.addrs | nindent 8 }}
      db: {{ .Values.redis.db }}
      dial_timeout: {{ .Values.redis.dial_timeout }}
      idle_check_frequency: {{ .Values.redis.idle_check_frequency }}
      idle_timeout: {{ .Values.redis.idle_timeout }}
      key_pref: {{ .Values.redis.key_pref }}
      max_conn_age: {{ .Values.redis.max_conn_age }}
      max_redirects: {{ .Values.redis.max_redirects }}
      max_retries: {{ .Values.redis.max_retries }}
      max_retry_backoff: {{ .Values.redis.max_retry_backoff }}
      min_idle_conns: {{ .Values.redis.min_idle_conns }}
      min_retry_backoff: {{ .Values.redis.min_retry_backoff }}
      password: "{{ .Values.redis.password }}"
      pool_size: {{ .Values.redis.pool_size }}
      pool_timeout: {{ .Values.redis.pool_timeout }}
      read_only: {{ .Values.redis.read_only }}
      read_timeout: {{ .Values.redis.read_timeout }}
      write_timeout: {{ .Values.redis.write_timeout }}
      route_by_latency: {{ .Values.redis.route_by_latency }}
      route_randomly: {{ .Values.redis.route_randomly }}
      tls:
        enabled: {{ .Values.redis.tls.enabled }}
        cert: {{ default .Values.defaults.server_config.tls.cert .Values.redis.tls.cert }}
        key: {{ default .Values.defaults.server_config.tls.key .Values.redis.tls.key }}
        ca: {{ default .Values.defaults.server_config.tls.ca .Values.redis.tls.ca }}
      tcp:
        dns:
          cache_enabled: {{ .Values.redis.tcp.dns.cache_enabled }}
          refresh_duration: {{ .Values.redis.tcp.dns.refresh_duration }}
          cache_expiration: {{ .Values.redis.tcp.dns.cache_expiration }}
        dialer:
          timeout: {{ .Values.redis.tcp.dialer.timeout }}
          keep_alive: {{ .Values.redis.tcp.dialer.keep_alive }}
          dual_stack_enabled: {{ .Values.redis.tcp.dialer.dual_stack_enabled }}
        tls:
          enabled: {{ .Values.redis.tcp.tls.enabled }}
          cert: {{ default .Values.defaults.server_config.tls.cert .Values.redis.tcp.tls.cert }}
          key: {{ default .Values.defaults.server_config.tls.key .Values.redis.tcp.tls.key }}
          ca: {{ default .Values.defaults.server_config.tls.ca .Values.redis.tcp.tls.ca }}
      kv_prefix: "{{ .Values.redis.kv_prefix }}"
      vk_prefix: "{{ .Values.redis.vk_prefix }}"
      prefix_delimiter: "{{ .Values.redis.prefix_delimiter }}"
