#
# Copyright (C) 2019-2020 Vdaas.org Vald team ( kpango, rinx, kmrmt )
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# name -- name of the deployment
name: vald-helm-operator
# replicas -- number of replicas
replicas: 2

image:
  # image.repository -- image repository
  repository: vdaas/vald-helm-operator
  # image.tag -- image tag
  tag: v0.0.36
  # image.pullPolicy -- image pull policy
  pullPolicy: Always

rbac:
  # rbac.create -- required roles and rolebindings will be created
  create: true
  # rbac.name -- name of roles and rolebindings
  name: vald-helm-operator

serviceAccount:
  # serviceAccount.create -- service account will be created
  create: true
  # serviceAccount.name -- name of service account
  name: vald-helm-operator

# resources -- k8s resources of pod
resources: {}

# nodeSelector -- node labels for pod assignment
nodeSelector: {}

# tolerations -- tolerations
tolerations: []

# affinity -- affinity
affinity: {}

# reconcilePeriod -- reconcile duration of operator
reconcilePeriod: 1m

# maxWorkers -- number of workers inside one operator pod
maxWorkers: 1

logging:
  # logging.level -- logging level of operator (debug, info, or error)
  level: info
  # logging.stacktraceLevel -- minimum log level triggers stacktrace generation
  stacktraceLevel: error
  # logging.format -- logging format of operator (console or json)
  format: console
  # logging.timeEncoding -- logging time format of operator (epoch, millis, nano, or iso8601)
  timeEncoding: iso8601
