{{- range .Files -}}
{{- range .Services -}}
{{- $descs := dict -}}
{{- range $desc := (splitList "---\n" .Description) -}}
{{- $lines := splitList "\n" $desc -}}
{{- $_ := set $descs (first $lines) (join "\n" (rest $lines)) -}}
{{- end -}}
# Vald {{ .Name }} APIs

## Overview

{{ if hasKey $descs "Overview" }}{{ pluck "Overview" $descs | first }}{{ end }}

```rpc
service {{.Name}} {

{{ range .Methods }}  rpc {{ .Name }}({{ .RequestFullType }}) returns ({{ .ResponseFullType }}) {}
{{ end }}
}
```
{{ range .Methods }}

{{- $descs := dict -}}
{{- range $desc := (splitList "---\n" .Description) -}}
{{- $lines := splitList "\n" $desc -}}
{{- $_ := set $descs (first $lines) (join "\n" (rest $lines)) -}}
{{- end -}}
## {{ .Name }} RPC

{{ if hasKey $descs "Overview" }}{{ pluck "Overview" $descs | first }}{{ end }}

### Input

- the scheme of `{{ .RequestFullType }}`

  ```rpc
{{ printf "{{- template \"scheme.%s\" }}" .RequestFullType }}
  ```
{{ printf "{{ template \"field.%s\" }}" .RequestFullType }}

### Output

- the scheme of `{{ .ResponseFullType }}`

  ```rpc
{{ printf "{{- template \"scheme.%s\" }}" .ResponseFullType }}
  ```
{{ printf "{{ template \"field.%s\" }}" .ResponseFullType }}

{{ if hasKey $descs "Status Code" }}

### Status Code

| code | description       |
| :--: | :---------------- |
{{ pluck "Status Code" $descs | first }}

Please refer to [Response Status Code](../status.md) for more details.

{{ end }}

{{- if hasKey $descs "Troubleshooting" }}

### Troubleshooting

{{ pluck "Troubleshooting" $descs | first }}

{{ end }}

{{ end -}}
{{- end -}}
{{- end -}}
