{{range .Files}}

# {{.Name}} document

## Table of Contents
{{if .HasServices}}
- Services
{{range .Services}}
  - [{{.Name}}]({{.Name}})
{{end}}
{{end}}

{{if .HasMessages}}
{{end}}

{{if .HasEnums}}
{{end}}

{{end}}