#
# Copyright (C) 2019-2020 Vdaas.org Vald team ( kpango, rinx, kmrmt )
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: scylla
  name: scylla
spec:
  serviceName: scylla
  replicas: 3
  selector:
    matchLabels:
      app: scylla
  template:
    metadata:
      labels:
        app: scylla
    spec:
      containers:
      - name: scylla
        image: scylladb/scylla:latest
        imagePullPolicy: Always
        args:
          - "--seeds"
          - "scylla-0.scylla.default.svc.cluster.local"
        lifecycle:
          postStart:
            exec:
              command:
                - /bin/sh
                - -c
                - |
                  until cqlsh -e 'describe cluster'
                  do
                    echo 'waiting for scylla ready'
                    sleep 2
                  done
                  cqlsh < /initdb/init.cql
          preStop:
            exec:
              command:
                - /bin/sh
                - -c
                - nodetool drain
        volumeMounts:
          - name: cassandra-initdb
            mountPath: /initdb
        ports:
          - containerPort: 9042
            name: scylla
            protocol: TCP
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      volumes:
        - name: cassandra-initdb
          configMap:
            name: cassandra-initdb
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
