name: "Coverage"
on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/coverage.yml"
      - "internal/**"
      - "pkg/**"
      - "cmd/**"
  pull_request:
    paths:
      - ".github/workflows/coverage.yml"
      - "internal/**"
      - "pkg/**"
      - "cmd/**"

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    container:
      image: vdaas/vald-ci-container:nightly
    steps:
      - name: Check out code.
        uses: actions/checkout@v2
      - name: Run coverage
        continue-on-error: true
        run: |
          make coverage
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v1.0.3
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./coverage.out
      - name: Upload coverage report to deepsource
        run: |
          mv ./coverage.out ./cover.out
          curl https://deepsource.io/cli | sh
          ./bin/deepsource report --analyzer test-coverage --key go --value-file ./cover.out
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
