#
# Copyright (C) 2019-2025 vdaas.org vald team <vald@vdaas.org>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
name: "Build docker images when the release branch is created"
on:
  push:
    branches:
      - "release/v*.*"
      - "!release/v*.*.*"
jobs:
  dump-contexts-to-log:
    timeout-minutes: 30
    if: github.event.created
    runs-on: ubuntu-slim
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: ./.github/actions/dump-context
  agent-ngt:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: agent-ngt
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  agent-faiss:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: agent-faiss
      platforms: linux/amd64
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  agent-sidecar:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: agent-sidecar
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  ci-container:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: ci-container
      platforms: linux/amd64
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  discoverer-k8s:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: discoverer-k8s
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  gateway-lb:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: gateway-lb
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  gateway-filter:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: gateway-filter
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  gateway-mirror:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: gateway-mirror
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  index-correction:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: index-correction
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  index-creation:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: index-creation
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  index-deletion:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: index-deletion
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  index-save:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: index-save
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  manager-index:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: manager-index
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  operator-helm:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: operator/helm
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  readreplica-rotate:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: readreplica-rotate
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  benchmark-job:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: benchmark-job
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
  benchmark-operator:
    needs: [dump-contexts-to-log]
    uses: ./.github/workflows/_docker-image.yaml
    with:
      target: benchmark-operator
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
      PACKAGE_USER: ${{ secrets.PACKAGE_USER }}
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      SLACK_NOTIFY_WEBHOOK_URL: ${{ secrets.SLACK_NOTIFY_WEBHOOK_URL }}
    permissions:
      contents: read
