name: 'Build docker image: gateway-vald'
on:
  push:
    branches:
      - master
    paths:
      - 'internal/**'
      - '!internal/db/**'
      - '!internal/k8s/**'
      - 'apis/grpc/**'
      - 'pkg/gateway/vald/**'
      - 'cmd/gateway/vald/**'
      - 'dockers/base/Dockerfile'
      - 'dockers/gateway/vald/Dockerfile'
      - 'resources/GO_VERSION'
  pull_request:
    paths:
      - 'internal/**'
      - '!internal/db/**'
      - '!internal/k8s/**'
      - 'apis/grpc/**'
      - 'pkg/gateway/vald/**'
      - 'cmd/gateway/vald/**'
      - 'dockers/base/Dockerfile'
      - 'dockers/gateway/vald/Dockerfile'
      - 'resources/GO_VERSION'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Build the Docker image
      run: |
        echo 'Build docker image'
        make docker/build/gateway-vald
    - name: login to DockerHub
      run: |
        echo 'Login to DockerHub'
        echo ${DOCKERHUB_PASS} | docker login --username ${DOCKERHUB_USER} --password-stdin
      env:
        DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
        DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
    - name: push to DockerHub (master)
      if: github.ref == 'refs/heads/master'
      run: |
        echo 'Push to DockerHub (master)'
        imagename=`make docker/name/gateway-vald`
        docker tag ${imagename} ${imagename}:nightly
        docker push ${imagename}:nightly
    - name: push to DockerHub (pull request)
      if: github.event_name == 'pull_request'
      run: |
        echo 'Push to DockerHub (pull request)'
        imagename=`make docker/name/gateway-vald`
        pr_num=`cat $GITHUB_EVENT_PATH | jq -r ".number"`
        docker tag ${imagename} ${imagename}:pr-${pr_num}
        docker push ${imagename}:pr-${pr_num}
    - name: push to DockerHub (tags)
      if: startsWith( github.ref, 'refs/tags/')
      run: |
        echo 'Push to DockerHub (tags)'
        imagename=`make docker/name/gateway-vald`
        tag_name=`echo $GITHUB_REF | sed -e 's:^refs/tags/::'`
        docker tag ${imagename} ${imagename}:${tag_name}
        docker push ${imagename}:${tag_name}
