name: "Docker image scanning"
on:
  schedule:
    - cron: "0 1 * * *"

jobs:
  agent-ngt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        id: build_image
        run: |
          make docker/build/agent-ngt
          imagename=`make docker/name/agent-ngt`
          docker tag ${imagename} ${imagename}:${{ github.sha }}
          echo "::set-output name=IMAGE_NAME::${imagename}"
        env:
          DOCKER_BUILDKIT: 1
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "table"
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
      - name: Upload Trivy scan results to Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "trivy-results.sarif"
  agent-sidecar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        id: build_image
        run: |
          make docker/build/agent-sidecar
          imagename=`make docker/name/agent-sidecar`
          docker tag ${imagename} ${imagename}:${{ github.sha }}
          echo "::set-output name=IMAGE_NAME::${imagename}"
        env:
          DOCKER_BUILDKIT: 1
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "table"
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
      - name: Upload Trivy scan results to Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "trivy-results.sarif"
  discoverer-k8s:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        id: build_image
        run: |
          make docker/build/discoverer-k8s
          imagename=`make docker/name/discoverer-k8s`
          docker tag ${imagename} ${imagename}:${{ github.sha }}
          echo "::set-output name=IMAGE_NAME::${imagename}"
        env:
          DOCKER_BUILDKIT: 1
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "table"
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
      - name: Upload Trivy scan results to Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "trivy-results.sarif"
  gateway-vald:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        id: build_image
        run: |
          make docker/build/gateway-vald
          imagename=`make docker/name/gateway-vald`
          docker tag ${imagename} ${imagename}:${{ github.sha }}
          echo "::set-output name=IMAGE_NAME::${imagename}"
        env:
          DOCKER_BUILDKIT: 1
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "table"
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
      - name: Upload Trivy scan results to Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "trivy-results.sarif"
  meta-redis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        id: build_image
        run: |
          make docker/build/meta-redis
          imagename=`make docker/name/meta-redis`
          docker tag ${imagename} ${imagename}:${{ github.sha }}
          echo "::set-output name=IMAGE_NAME::${imagename}"
        env:
          DOCKER_BUILDKIT: 1
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "table"
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
      - name: Upload Trivy scan results to Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "trivy-results.sarif"
  meta-cassandra:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        id: build_image
        run: |
          make docker/build/meta-cassandra
          imagename=`make docker/name/meta-cassandra`
          docker tag ${imagename} ${imagename}:${{ github.sha }}
          echo "::set-output name=IMAGE_NAME::${imagename}"
        env:
          DOCKER_BUILDKIT: 1
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "table"
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
      - name: Upload Trivy scan results to Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "trivy-results.sarif"
  backup-manager-mysql:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        id: build_image
        run: |
          make docker/build/backup-manager-mysql
          imagename=`make docker/name/backup-manager-mysql`
          docker tag ${imagename} ${imagename}:${{ github.sha }}
          echo "::set-output name=IMAGE_NAME::${imagename}"
        env:
          DOCKER_BUILDKIT: 1
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "table"
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
      - name: Upload Trivy scan results to Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "trivy-results.sarif"
  backup-manager-cassandra:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        id: build_image
        run: |
          make docker/build/backup-manager-cassandra
          imagename=`make docker/name/backup-manager-cassandra`
          docker tag ${imagename} ${imagename}:${{ github.sha }}
          echo "::set-output name=IMAGE_NAME::${imagename}"
        env:
          DOCKER_BUILDKIT: 1
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "table"
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
      - name: Upload Trivy scan results to Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "trivy-results.sarif"
  compressor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        id: build_image
        run: |
          make docker/build/manager-compressor
          imagename=`make docker/name/manager-compressor`
          docker tag ${imagename} ${imagename}:${{ github.sha }}
          echo "::set-output name=IMAGE_NAME::${imagename}"
        env:
          DOCKER_BUILDKIT: 1
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "table"
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
      - name: Upload Trivy scan results to Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "trivy-results.sarif"
  manager-index:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        id: build_image
        run: |
          make docker/build/manager-index
          imagename=`make docker/name/manager-index`
          docker tag ${imagename} ${imagename}:${{ github.sha }}
          echo "::set-output name=IMAGE_NAME::${imagename}"
        env:
          DOCKER_BUILDKIT: 1
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "table"
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
      - name: Upload Trivy scan results to Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "trivy-results.sarif"
  operator-helm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        id: build_image
        run: |
          make docker/build/operator/helm
          imagename=`make docker/name/operator/helm`
          docker tag ${imagename} ${imagename}:${{ github.sha }}
          echo "::set-output name=IMAGE_NAME::${imagename}"
        env:
          DOCKER_BUILDKIT: 1
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "table"
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
      - name: Upload Trivy scan results to Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "trivy-results.sarif"
  loadtest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        id: build_image
        run: |
          make docker/build/loadtest
          imagename=`make docker/name/loadtest`
          docker tag ${imagename} ${imagename}:${{ github.sha }}
          echo "::set-output name=IMAGE_NAME::${imagename}"
        env:
          DOCKER_BUILDKIT: 1
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "table"
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ steps.build_image.outputs.IMAGE_NAME }}:${{ github.sha }}"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
      - name: Upload Trivy scan results to Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: "trivy-results.sarif"
