#
# Copyright (C) 2019-2023 vdaas.org vald team <vald@vdaas.org>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
name: "Run Helm lint"
on:
  pull_request:
    paths:
      - "charts/**"

jobs:
  dump-contexts-to-log:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/dump-context

  lint-vald-chart:
    name: lint for vald chart
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/vdaas/vald/vald-ci-container:nightly
    steps:
      - name: Check out code.
        uses: actions/checkout@v3

      - name: set git config
        run: |
          git config --global --add safe.directory ${GITHUB_WORKSPACE}

      - name: Helm version
        run: |
          helm version

      - name: Fetch golang version
        run: |
          GO_VERSION=`make version/go`
          echo "version=${GO_VERSION}" >> $GITHUB_OUTPUT
        id: golang_version

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ steps.golang_version.outputs.version }}

      - name: Generate schema for charts/vald
        run: |
          make helm/schema/vald
      - name: Run lint for charts/vald
        run: |
          helm lint charts/vald

  lint-vald-helm-operator-chart:
    name: lint for vald-helm-operator chart
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/vdaas/vald/vald-ci-container:nightly
    steps:
      - name: Check out code.
        uses: actions/checkout@v3

      - name: set git config
        run: |
          git config --global --add safe.directory ${GITHUB_WORKSPACE}

      - name: Helm version
        run: |
          helm version

      - name: Fetch golang version
        run: |
          GO_VERSION=`make version/go`
          echo "version=${GO_VERSION}" >> $GITHUB_OUTPUT
        id: golang_version

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ steps.golang_version.outputs.version }}

      - name: Generate schema for charts/vald-helm-operator
        run: |
          make helm/schema/vald-helm-operator
      - name: Run lint for charts/vald-helm-operator
        run: |
          helm lint charts/vald-helm-operator

  lint-values-schema:
    name: lint for values schema
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v3

      - name: set git config
        run: |
          git config --global --add safe.directory ${GITHUB_WORKSPACE}

      - name: Helm version
        run: |
          helm version

      - name: install YQ
        run: |
          sudo make yq/install

      - name: Fetch golang version
        run: |
          GO_VERSION=`make version/go`
          echo "version=${GO_VERSION}" >> $GITHUB_OUTPUT
        id: golang_version

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ steps.golang_version.outputs.version }}

      - name: Generate ValdRelease schema
        run: |
          make helm/schema/crd/vald

      - uses: ./.github/actions/setup-k3d

      - name: check k3d
        run: |
          kubectl cluster-info

      - name: Test to apply
        run: |
          kubectl create -f charts/vald-helm-operator/crds/valdrelease.yaml
          sleep 3
          yq eval \
              '{"apiVersion": "vald.vdaas.org/v1", "kind": "ValdRelease", "metadata":{"name":"vald-cluster"}, "spec": .}' \
              charts/vald/values.yaml \
              | kubectl apply -f -
