name: reviewdog
on: [pull_request]

jobs:
  golangci-lint:
    name: runner / golangci-lint
    runs-on: ubuntu-latest
    container:
      image: vdaas/vald-ci-container:nightly
    steps:
      - uses: actions/checkout@v1
      - name: go build
        run: |
          go build ./...
      - name: Install
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.22.2
          curl -sSfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v0.9.15
          GOBIN=$(go env GOPATH)/bin
          echo "::set-env name=PATH::$PATH:$GOBIN"
      - name: Run golangci-lint
        run: |
          golangci-lint run --config ./golangci.yml --issues-exit-code 0
          golangci-lint run --config ./golangci.yml \
              | reviewdog -f=golangci-lint -name=golangci -reporter=${REPORTER} -level=${LEVEL}
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPORTER: github-pr-review
          LEVEL: warning
